div.cards img {
  position: absolute;
  width: 25%;
  margin-left: 37.5%;
  margin-top: 2.5%;
}

div.cards img.face {
  opacity: 0.5;
}

div.progress {
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1%;
  background-color: #900;
}

div.answers {
  position: absolute;
  bottom: 1%;
  height: 42.857%;
}

div.answers div{
  display:inline-block;
  width:25%;
  height:100%;
  border: 0.5px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

div.answers img.image {
  width: 100%;
  border-bottom: 1px solid #222;
}

div.answers p {
  margin: 0;
  padding-top: 0.75em;
  font-size: 6vmin;
  text-align: center;
}